# {{ ansible_managed }}

{%  set tinc_tpl_host_keys_seen = [] %}
{%  if hostvars[item].tinc_host_configuration is defined and hostvars[item].tinc_host_configuration %}
{%    for key, value in hostvars[item].tinc_host_configuration.iteritems() %}
{%      if key | lower not in [ '{{ item | replace("-","_") }}-up', '{{ item | replace("-","_") }}-down', 'host-up', 'host-down' ] %}
{%        if key not in tinc_tpl_host_keys_seen %}
{%          if value is string %}
{{ key }} = {{ value }}
{%          else %}
{%            for element in value %}
{{ key }} = {{ value }}
{%            endfor %}
{%          endif %}
{%          set _ = tinc_tpl_host_keys_seen.append(key) %}
{%        endif %}
{%      endif %}
{%    endfor %}
{%  endif %}
{%  if (('Address' not in tinc_tpl_host_keys_seen) or ('address' not in tinc_tpl_host_keys_seen)) %}
{%    for address in (hostvars[item].tinc_addresses|d([]) + hostvars[item].ansible_all_ipv4_addresses|d([]) + hostvars[item].ansible_all_ipv6_addresses|d([])) %}
{%      if address | ipaddr('public') %}
Address = {{ address }} {{ hostvars[item].tinc_host_port }}
{%      endif %}
{%    endfor %}
{%  endif %}
{%  if hostvars[item].tinc_rsa_key_pub.content is defined %}

{{ hostvars[item].tinc_rsa_key_pub.content | b64decode }}
{%  endif%}
